{%extends 'base.html'%}

{%block title%}

{%endblock%}

{%block body%}

    <div class='container'>
        <div class='row'>
            <div class='col-md-8'>
                <form method='post'>
                
                    
                {%csrf_token%}
                    
                
                    {{fm.as_p}}
                

                    <input type='submit' value='Post' class='btn btn-primary'>

                </form>
            </div>
        </div>
    </div>

<br>
<div class='container'>
    {%for data in data%}
        
            <div class='row'>
                <div class='col-md-8 bg-light'>
                Posted by: <strong>{{data.name}}</strong><br>
                    <p class='text-muted'>Posted on :{{data.date}}</p>
                    <p>{{data.post}}</p><br>

                </div>
                
            </div>
        <br>
    {%endfor%}
</div>
{%endblock%}