{% load static %}
<html>
    <head>
        <link rel='stylesheet' href={%static 'css/bootstrap.min.css' %}>
        <script type='javascript' src={%static 'js/bootstrap.min.js' %}></script>
        <title>
            {%block title%}

            {%endblock%}
        </title>
    </head>

    <body>

        <div class='container-fluid m-0 p-0'>
                <nav class='navbar navbar-expand-lg bg-light fixed-top'>
                     <a class='navbar-brand text-success'>
                        <img  src="{%static 'img/pyLogo.png'%}" height='50' width='50'>CoolCoder</a>
                    <ul class='navbar-nav'>
                    <li class='nav-item '><a href={%url 'home'%} class='nav-link '>Home</a></li>
                    <li class='nav-item '><a href='#' class='nav-link'>About</a></li>
                    <li class='nav-item '><a href='#' class='nav-link'>Contact</a></li>
                    <li class='nav-item '><a href={%url 'blog'%} class='nav-link'>Blogs</a></li>
                </ul>
            </nav>
            
        </div>


    <div class='container h-50'>
        <!--BLANK CONTAINER FOR THE FIXED MENU BAR-->
    </div>

        <div class='container-fluid'>

            {%block body%}

            {%endblock%}
        
        </div>

        <div class='container-fluid bg-dark h-25 mt-5'>

            <span class='text-info'>Go to my <a href='https://github.com/Rohitkumar15697'>Github</a></span>

        </div>
    </body>

</html>