{% load static %}
<html>
    <head>
        <link rel='stylesheet' href={%static 'css/bootstrap.min.css' %}>
        <script type='javascript' src={%static 'js/bootstrap.min.js' %}></script>
        <title>
            {%block title%}

            {%endblock%}
        </title>
    </head>

    <body>

        <div class='container-fluid m-0 p-0'>
                <nav class='navbar navbar-expand-lg bg-light'>
                    <a class='navbar-brand text-success'><h1>CoolCoder</h1></a>
                    <ul class='navbar-nav'>
                    <li class='nav-item '><a href='#' class='nav-link '>Home</a></li>
                    <li class='nav-item '><a href='#' class='nav-link'>About</a></li>
                    <li class='nav-item '><a href='#' class='nav-link'>Contact</a></li>
                    <li class='nav-item '><a href='#' class='nav-link'>Blogs</a></li>
                </ul>
            </nav>
            
        </div>


    
        <div class='container-fluid mt-5 h-75'>

            {%block body%}

            {%endblock%}
        
        </div>

        <div class='container-fluid bg-dark h-25 '>

            <span class='text-info'>Go to my <a href='https://github.com/Rohitkumar15697'>Github</a></span>

        </div>
    </body>

</html>