{%extends 'base.html'%}
{%load static%}

{%block title%} Home    {%endblock%}


{%block body%}


    
        <div class='container'>
            <h1>Rohit Kumar</h1><br>
            <div class='row'>
                <div class='col-md-2 col-xs-6'>
                    <img class='img-responsive' src="{%static 'img/ropic.jpg'%}" height='100' width='100'>
                    
                </div>
                <div class='col-md-3 col-xs-6'>
                    <p>Name- Rohit Kumar</p>
                    <p>Email- rk221377@gmail.com</p>
                    <span class='text-info'>Go to my <a href='https://github.com/Rohitkumar15697' target='_blank'>Github</a></span>
                </div>
               
                
            </div>
        </div>

        <br><br>

    <div class='container'>
    {%for data in data%}
        
            <div class='row'>
                <div class='col-md-8 col-xs-12 bg-light'>
                Posted by: <strong>{{data.name}}</strong><br>
                    <p class='text-muted'>Posted on :{{data.date}}</p>
                    <p class='lead'>{{data.post}}</p><br>

                </div>
                
            </div>
        <br>
    {%endfor%}
</div>

       

        


{%endblock%}