{%extends 'base.html'%}
{%load static%}

{%block title%} Home    {%endblock%}


{%block body%}


    <h1>Go to Blogs link and put some blogs</h1><br>
        <div class='container'>
            <div class='row'>
                <div class='col-md-4 border'>
                    <img  src="{%static 'img/ropic.jpg'%}" height='100' width='100'>
                    
                </div>
                <div class='col-md-4 bg-success'>
                    <img  src="{%static 'img/pyLogo.png'%}" height='100' width='100'>
                </div>
                <div class='col-md-4 bg-info'>
                    
                </div>
            </div>
        </div>

        <br><br>

           {%for data in data%}
                <div class='container bg-light'>
                  Posted by: <strong>{{data.name}}</strong><br>
                  <p class='text-muted'>Posted on {{data.date}}</p>
                   <p class='lead'> {{data.post}}</p><br>
                </div>
            {%endfor%}

       

        


{%endblock%}