{%extends 'base.html'%}
{%load static%}

{%block title%} Home    {%endblock%}


{%block body%}

        <div class='container'>
            <div class='row'>
                <div class='col-md-4 border'>
                    <img  src="{%static 'img/ropic.jpg'%}" height='100' width='100'>
                    
                </div>
                <div class='col-md-4 bg-success'>
                    <img  src="{%static 'img/pyLogo.png'%}" height='100' width='100'>
                </div>
                <div class='col-md-4 bg-info'>
                    
                </div>
            </div>
        </div>

        <div class='container'>
        
            <form>
                {{fm}}
                <input type='button' value='Save'>
            </form>
            {%for data in data%}
            {{data}}
            {%endfor%}
        
        </div>

        


{%endblock%}